<!-- your html code here -->
<!--<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>-->

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-4">
            <img src="/website1/assets/img/2.jpg" class="rounded-circle">
        </div>
        <div class="col-8">
            <h1>
                This Second Heading
                <small class="text-muted">Is Pretty Cool Too.</small>
            </h1>
                <p>Donec ullamcorper nulla non metus auctor fingilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapubus, tellus ac cursus commodo.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
