<!-- your html code here -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/website1/assets/img/bg.jpg" class="d-block w-100" alt="NY">
            <p id="text1" class="bg-white text-dark">
                One Page Wonder
            </p>
            <p id="text2" class="bg-white text-dark">
                Will Knock Your Socks Off
            </p>
        </div>
    </div>
</div>